In [28]:
# Setup the Jupyter version of Dash
from jupyter_dash import JupyterDash

# Configure the necessary Python module imports for dashboard components
import dash_leaflet as dl
from dash import dcc
from dash import html
import plotly.express as px
from dash import dash_table
from dash.dependencies import Input, Output, State
import base64

# Configure OS routines
import os

# Configure the plotting routines
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from PyCRUD import AnimalShelter

###########################
# Data Manipulation / Model
###########################

username = "aacuser"
password = "SNHU1234"
host = "nv-desktop-services.apporto.com"
port = 30242
database = "AAC"
collection = "animals"

# Connect to database via CRUD Module
shelter = AnimalShelter(username, password, host, port, database, collection)

# class read method must support return of list object and accept projection json input
# sending the read method an empty document requests all documents be returned
df = pd.DataFrame.from_records(db.read({}))

# MongoDB v5+ is going to return the '_id' column and that is going to have an 
# invlaid object type of 'ObjectID' - which will cause the data_table to crash - so we remove
# it in the dataframe here. The df.drop command allows us to drop the column. If we do not set
# inplace=True - it will reeturn a new dataframe that does not contain the dropped column(s)
df.drop(columns=['_id'],inplace=True)

## Debug
# print(len(df.to_dict(orient='records')))
# print(df.columns)


#########################
# Dashboard Layout / View
#########################
app = JupyterDash(__name__)

image_filename = 'Grazioso Salvare Logo.png' 
encoded_image = base64.b64encode(open(image_filename, 'rb').read())

app.layout = html.Div([
#    html.Div(id='hidden-div', style={'display':'none'}),
    html.Center(html.B(html.H1('Mary Cigliola - CS-340 Dashboard'))),
    html.Img(src='data:image/png;base64,{}'.format(encoded_image.decode()),
            style={
                'height': '150px',
                'width': 'auto',
                'display': 'block',
                'margin-left': 'auto',
                'margin-right': 'auto'
            }),
    html.Hr(),
    html.Div([
        dcc.RadioItems(
            options=[
                {'label': 'Water Rescue', 'value': 'WR'},
                {'label': 'Mountain/Wilderness Rescue', 'value': 'MWR'},
                {'label': 'Disaster Rescue/Individual Tracking', 'value': 'DR'},
                {'label': 'Reset', 'value': 'reset'}], 
            inline = True, id = 'rescue-filter')
    ]),
    html.Hr(),
    dash_table.DataTable(id='datatable-id',
                         columns=[{"name": i, "id": i, "deletable": False, "selectable": True} for i in df.columns],
                         data=df.to_dict('records'),
                         editable=False,
                         filter_action="native",
                         sort_action="native",
                         sort_mode="multi",
                         column_selectable="single",
                         row_selectable="single",
                         row_deletable=False,
                         selected_columns=[],
                         selected_rows=[0],
                         page_action="native",
                         page_current=0,
                         page_size=10
                        ),
    html.Br(),
    html.Hr(),
#This sets up the dashboard so that your chart and your geolocation chart are side-by-side
    html.Div(className='row',
         style={'display' : 'flex'},
             children=[
        html.Div(
            id='graph-id',
            className='col s12 m6',

            ),
        html.Div(
            id='map-id',
            className='col s12 m6',
            )
        ])
])

#############################################
# Interaction Between Components / Controller
#############################################


# Display the data in the table, including applying selected filters
    
@app.callback(
              [Output('datatable-id','data'), 
              Output('datatable-id', 'columns')],
              [Input('rescue-filter', 'value')])
def update_dashboard(rescue_type):
    # Water Rescue
    if rescue_type == 'WR': 
        result = shelter.read({"breed": {"$in": ["Labrador Retriever Mix", "Chesapeake Bay Retriever", "Newfoundland"]}, 
                 "sex_upon_outcome": "Intact Female",
                 "age_upon_outcome_in_weeks": {'$gte': 26.0, '$lte': 156.0}})
        df=pd.DataFrame.from_records(result)
        
    # Mountain/Wilderness Rescue
    elif rescue_type == 'MWR': 
        result = shelter.read({"breed": {"$in": ["German Shepherd", "Alaskan Malamute", "Old English Sheepdog",
                          "Siberian Husky", "Rottweiler"]}, 
                 "sex_upon_outcome": "Intact Male",
                 "age_upon_outcome_in_weeks": {'$gte': 26.0, '$lte': 156.0}})
        df=pd.DataFrame.from_records(result)
        
    #Disaster Rescue/Individual Tracking
    elif rescue_type == 'DR': 
        result = shelter.read({"breed": {"$in": ["Doberman Pinscher", "German Shepherd", "Golden Retriever", "Bloodhound",
                          "Rottweiler"]}, 
                 "sex_upon_outcome": "Intact Male",
                 "age_upon_outcome_in_weeks": {'$gte': 20.0, '$lte': 300.0}})
        df=pd.DataFrame.from_records(result)
        
    # No filters applied (filters reset)
    else:
        result = shelter.read({})
        df = pd.DataFrame.from_records(result)
    
    # Cleanup Mongo _id field
    df.drop(columns=['_id'],inplace=True, errors='ignore')
    columns=[{"name": i, "id": i, "deletable": False, "selectable": True} for i in df.columns]
    data=df.to_dict('records')

    return (data, columns)


# Display the breeds of animal based on quantity represented in
# the data table
@app.callback(Output('graph-id', "children"),
           [Input('datatable-id', "derived_virtual_data")])
def update_graphs(viewData):
    if viewData is None:
        return
    dff = pd.DataFrame(viewData)  
    
    # Count the number of animals in each breed type
    breed_counts = dff['breed'].value_counts().reset_index()
    breed_counts.columns = ['breed', 'count']
    breed_counts = breed_counts.sort_values(by='count', ascending=False)
    # If more than 6 breeds are represented, only display the top 6
    # Remaining breeds are grouped as 'other'
    if len(breed_counts) > 6:
        top_breeds = breed_counts[:6]
        other_count = breed_counts[6:]['count'].sum()
        other_breeds = pd.DataFrame([{'breed': 'Other', 'count': other_count}])
        breed_counts = pd.concat([top_breeds, other_breeds], ignore_index=True)
    else:
        breed_counts = breed_counts
    
    chart = px.pie(breed_counts, values='count', names='breed', title='Percentage of Breeds')
    return [dcc.Graph(figure=chart)]
    
#This callback will highlight a cell on the data table when the user selects it
@app.callback(Output('datatable-id', 'style_data_conditional'),
            [Input('datatable-id', 'selected_columns')])
def update_styles(selected_columns):
    return [{
        'if': { 'column_id': i },
        'background_color': '#D2F3FF'
    } for i in selected_columns]


# This callback will update the geo-location chart for the selected data entry
# derived_virtual_data will be the set of data available from the datatable in the form of 
# a dictionary.
# derived_virtual_selected_rows will be the selected row(s) in the table in the form of
# a list. For this application, we are only permitting single row selection so there is only
# one value in the list.
# The iloc method allows for a row, column notation to pull data from the datatable
@app.callback(Output('map-id', "children"),
            [Input('datatable-id', "derived_virtual_data"),
             Input('datatable-id', "derived_virtual_selected_rows")])
def update_map(viewData, index):  
    if viewData is None:
        return
    elif index is None:
        return
    
    dff = pd.DataFrame.from_dict(viewData)
    # Because we only allow single row selection, the list can be converted to a row index here
    if index is None:
        row = 0
    else: 
        row = index[0]
        
    # Austin TX is at [30.75,-97.48]
    return [
        dl.Map(style={'width': '1000px', 'height': '500px'}, center=[30.75,-97.48], zoom=10, children=[
            dl.TileLayer(id="base-layer-id"),
            # Marker with tool tip and popup
            # Column 13 and 14 define the grid-coordinates for the map
            # Column 4 defines the breed for the animal
            # Column 9 defines the name of the animal
            dl.Marker(position=[dff.iloc[row,13],dff.iloc[row,14]], children=[
                dl.Tooltip(dff.iloc[row,4]),
                dl.Popup([
                    html.H1("Animal Name"),
                    html.P(dff.iloc[row,9])
                ])
            ])
        ])
    ]



app.run_server(debug=True)

Dash app running on http://127.0.0.1:26696/
                         _id  rec_num age_upon_outcome animal_id animal_type  \
0   65ff710b8dc95b7efffe3270       36         6 months   A706953         Dog
1   65ff710b8dc95b7efffe3528      732          2 years   A749782         Dog
2   65ff710b8dc95b7efffe36b9     1121           1 year   A757158         Dog
3   65ff710b8dc95b7efffe38a8     1628         9 months   A740471         Dog
4   65ff710b8dc95b7efffe3924     1757         7 months   A742767         Dog
5   65ff710b8dc95b7efffe3a10     1988           1 year   A762781         Dog
6   65ff710b8dc95b7efffe3a51     2041          2 years   A702745         Dog
7   65ff710b8dc95b7efffe3af6     2225          2 years   A757341         Dog
8   65ff710b8dc95b7efffe3f52     3319         9 months   A687748         Dog
9   65ff710b8dc95b7efffe42ca     4222           1 year   A735551         Dog
10  65ff710b8dc95b7efffe4380     4391          2 years   A739950         Dog
11  65ff710b8dc95b7efffe453a     4846         6 months   A739549         Dog
12  65ff710b8dc95b7efffe49f4     6056           1 year   A736948         Dog
13  65ff710b8dc95b7efffe4aa9     6237           1 year   A747734         Dog
14  65ff710b8dc95b7efffe4fe4     7583          2 years   A757347         Dog
15  65ff710b8dc95b7efffe5400     8628         6 months   A726670         Dog
16  65ff710b8dc95b7efffe5811     9659           1 year   A737699         Dog

                     breed            color date_of_birth  \
0   Labrador Retriever Mix           Yellow    2014-12-06
1   Labrador Retriever Mix        Tan/White    2015-05-19
2   Labrador Retriever Mix      White/Black    2016-08-30
3   Labrador Retriever Mix        Tan/White    2016-03-17
4   Labrador Retriever Mix            Black    2016-06-27
5   Labrador Retriever Mix      Black/White    2016-11-27
6   Labrador Retriever Mix            Black    2013-05-22
7   Labrador Retriever Mix      Black/White    2015-09-01
8   Labrador Retriever Mix           Yellow    2013-12-09
9   Labrador Retriever Mix            Black    2015-09-25
10  Labrador Retriever Mix      Black/White    2014-12-09
11  Labrador Retriever Mix              Tan    2016-06-04
12  Labrador Retriever Mix      Black/White    2015-10-19
13  Labrador Retriever Mix  Chocolate/White    2016-04-24
14  Labrador Retriever Mix            Black    2015-09-01
15  Labrador Retriever Mix      Black/White    2015-11-13
16  Labrador Retriever Mix      White/Brown    2015-11-02

               datetime            monthyear       name outcome_subtype  \
0   2015-07-06 11:33:00  2015-07-06T11:33:00                    Medical
1   2017-07-25 14:59:00  2017-07-25T14:59:00  *Catalina
2   2017-08-31 14:12:00  2017-08-31T14:12:00     Pirata
3   2016-12-23 17:13:00  2016-12-23T17:13:00       Mika
4   2017-02-14 15:20:00  2017-02-14T15:20:00     Marley
5   2017-12-03 13:09:00  2017-12-03T13:09:00                    Partner
6   2015-05-22 11:45:00  2015-05-22T11:45:00    Abigail
7   2017-10-03 12:27:00  2017-10-03T12:27:00         19         Partner
8   2014-09-09 17:01:00  2014-09-09T17:01:00                  Suffering
9   2016-09-27 14:10:00  2016-09-27T14:10:00      Daisy
10  2016-12-10 13:47:00  2016-12-10T13:47:00      *Leah         Partner
11  2016-12-04 15:59:00  2016-12-04T15:59:00      Penny
12  2016-10-23 00:00:00  2016-10-23T00:00:00                    Partner
13  2017-04-24 16:03:00  2017-04-24T16:03:00       Ella
14  2017-10-09 19:34:00  2017-10-09T19:34:00         22         Partner
15  2016-05-16 16:48:00  2016-05-16T16:48:00     *Jenny         Partner
16  2016-11-13 16:11:00  2016-11-13T16:11:00      Sadie

       outcome_type sex_upon_outcome  location_lat  location_long  \
0        Euthanasia    Intact Female     30.548080     -97.296997
1   Return to Owner    Intact Female     30.613831     -97.575216
2   Return to Owner    Intact Female     30.557216     -97.536322
3          Adoption    Intact Female     30.756924     -97.739255
4   Return to Owner    Intact Female     30.486975     -97.428002
5          Transfer    Intact Female     30.284011     -97.460054
6   Return to Owner    Intact Female     30.715794     -97.452366
7          Transfer    Intact Female     30.381418     -97.737322
8        Euthanasia    Intact Female     30.729653     -97.391294
9   Return to Owner    Intact Female     30.515070     -97.609259
10         Transfer    Intact Female     30.274978     -97.705222
11  Return to Owner    Intact Female     30.747297     -97.615295
12         Transfer    Intact Female     30.601325     -97.253363
13  Return to Owner    Intact Female     30.340070     -97.635063
14         Transfer    Intact Female     30.632231     -97.274776
15         Transfer    Intact Female     30.334919     -97.338317
16         Adoption    Intact Female     30.605140     -97.688563

    age_upon_outcome_in_weeks
0                   30.354464
1                  114.089187
2                   52.370238
3                   40.245337
4                   33.234127
5                   53.078274
6                  104.355655
7                  109.074107
8                   39.244147
9                   52.655754
10                 104.653472
11                  26.237996
12                  52.857143
13                  52.238393
14                 109.973611
15                  26.528571
16                  53.953472
                         _id  rec_num age_upon_outcome animal_id animal_type  \
0   65ff710b8dc95b7efffe3270       36         6 months   A706953         Dog
1   65ff710b8dc95b7efffe3528      732          2 years   A749782         Dog
2   65ff710b8dc95b7efffe36b9     1121           1 year   A757158         Dog
3   65ff710b8dc95b7efffe38a8     1628         9 months   A740471         Dog
4   65ff710b8dc95b7efffe3924     1757         7 months   A742767         Dog
5   65ff710b8dc95b7efffe3a10     1988           1 year   A762781         Dog
6   65ff710b8dc95b7efffe3a51     2041          2 years   A702745         Dog
7   65ff710b8dc95b7efffe3af6     2225          2 years   A757341         Dog
8   65ff710b8dc95b7efffe3f52     3319         9 months   A687748         Dog
9   65ff710b8dc95b7efffe42ca     4222           1 year   A735551         Dog
10  65ff710b8dc95b7efffe4380     4391          2 years   A739950         Dog
11  65ff710b8dc95b7efffe453a     4846         6 months   A739549         Dog
12  65ff710b8dc95b7efffe49f4     6056           1 year   A736948         Dog
13  65ff710b8dc95b7efffe4aa9     6237           1 year   A747734         Dog
14  65ff710b8dc95b7efffe4fe4     7583          2 years   A757347         Dog
15  65ff710b8dc95b7efffe5400     8628         6 months   A726670         Dog
16  65ff710b8dc95b7efffe5811     9659           1 year   A737699         Dog

                     breed            color date_of_birth  \
0   Labrador Retriever Mix           Yellow    2014-12-06
1   Labrador Retriever Mix        Tan/White    2015-05-19
2   Labrador Retriever Mix      White/Black    2016-08-30
3   Labrador Retriever Mix        Tan/White    2016-03-17
4   Labrador Retriever Mix            Black    2016-06-27
5   Labrador Retriever Mix      Black/White    2016-11-27
6   Labrador Retriever Mix            Black    2013-05-22
7   Labrador Retriever Mix      Black/White    2015-09-01
8   Labrador Retriever Mix           Yellow    2013-12-09
9   Labrador Retriever Mix            Black    2015-09-25
10  Labrador Retriever Mix      Black/White    2014-12-09
11  Labrador Retriever Mix              Tan    2016-06-04
12  Labrador Retriever Mix      Black/White    2015-10-19
13  Labrador Retriever Mix  Chocolate/White    2016-04-24
14  Labrador Retriever Mix            Black    2015-09-01
15  Labrador Retriever Mix      Black/White    2015-11-13
16  Labrador Retriever Mix      White/Brown    2015-11-02

               datetime            monthyear       name outcome_subtype  \
0   2015-07-06 11:33:00  2015-07-06T11:33:00                    Medical
1   2017-07-25 14:59:00  2017-07-25T14:59:00  *Catalina
2   2017-08-31 14:12:00  2017-08-31T14:12:00     Pirata
3   2016-12-23 17:13:00  2016-12-23T17:13:00       Mika
4   2017-02-14 15:20:00  2017-02-14T15:20:00     Marley
5   2017-12-03 13:09:00  2017-12-03T13:09:00                    Partner
6   2015-05-22 11:45:00  2015-05-22T11:45:00    Abigail
7   2017-10-03 12:27:00  2017-10-03T12:27:00         19         Partner
8   2014-09-09 17:01:00  2014-09-09T17:01:00                  Suffering
9   2016-09-27 14:10:00  2016-09-27T14:10:00      Daisy
10  2016-12-10 13:47:00  2016-12-10T13:47:00      *Leah         Partner
11  2016-12-04 15:59:00  2016-12-04T15:59:00      Penny
12  2016-10-23 00:00:00  2016-10-23T00:00:00                    Partner
13  2017-04-24 16:03:00  2017-04-24T16:03:00       Ella
14  2017-10-09 19:34:00  2017-10-09T19:34:00         22         Partner
15  2016-05-16 16:48:00  2016-05-16T16:48:00     *Jenny         Partner
16  2016-11-13 16:11:00  2016-11-13T16:11:00      Sadie

       outcome_type sex_upon_outcome  location_lat  location_long  \
0        Euthanasia    Intact Female     30.548080     -97.296997
1   Return to Owner    Intact Female     30.613831     -97.575216
2   Return to Owner    Intact Female     30.557216     -97.536322
3          Adoption    Intact Female     30.756924     -97.739255
4   Return to Owner    Intact Female     30.486975     -97.428002
5          Transfer    Intact Female     30.284011     -97.460054
6   Return to Owner    Intact Female     30.715794     -97.452366
7          Transfer    Intact Female     30.381418     -97.737322
8        Euthanasia    Intact Female     30.729653     -97.391294
9   Return to Owner    Intact Female     30.515070     -97.609259
10         Transfer    Intact Female     30.274978     -97.705222
11  Return to Owner    Intact Female     30.747297     -97.615295
12         Transfer    Intact Female     30.601325     -97.253363
13  Return to Owner    Intact Female     30.340070     -97.635063
14         Transfer    Intact Female     30.632231     -97.274776
15         Transfer    Intact Female     30.334919     -97.338317
16         Adoption    Intact Female     30.605140     -97.688563

    age_upon_outcome_in_weeks
0                   30.354464
1                  114.089187
2                   52.370238
3                   40.245337
4                   33.234127
5                   53.078274
6                  104.355655
7                  109.074107
8                   39.244147
9                   52.655754
10                 104.653472
11                  26.237996
12                  52.857143
13                  52.238393
14                 109.973611
15                  26.528571
16                  53.953472